<section class="section-advantages">
  <div class="iner">
    <div class="title-wrap">
      <h1 class="title-advantages">Our Advantages</h1>
    </div>
    <div class="wrap-advantages">
      <div class="wrap-img">
        <img
          class="img-advantages"
          src="/img/advantages/img01.jpg"
          alt="coffee"
        />
      </div>
      <div class="wrap-title">
        <h2 class="second-title">Premium Quality Materials</h2>
        <p class="second-text">
          We use only the finest materials, from solid wood to top-grade
          fabrics, ensuring your furniture lasts for years.
        </p>
      </div>
    </div>
    <div class="wrap-advantages">
      <div class="wrap-title">
        <h2 class="second-title">Expert Craftsmanship</h2>
        <p class="second-text">
          Our furniture is crafted by skilled artisans with attention to every
          detail, ensuring exceptional durability and comfort.
        </p>
      </div>
      <div class="wrap-img">
        <img
          class="img-advantages"
          src="/img/advantages/img02.jpg"
          alt="coffee"
        />
      </div>
    </div>
    <div class="wrap-advantages">
      <div class="wrap-img">
        <img
          class="img-advantages"
          src="/img/advantages/img03.jpg"
          alt="coffee"
        />
      </div>
      <div class="wrap-title">
        <h2 class="second-title">Custom Furniture Design</h2>
        <p class="second-text">
          We offer custom design services, allowing you to personalize your
          furniture to perfectly fit your space and style.
        </p>
      </div>
    </div>
    <div class="wrap-advantages">
      <div class="wrap-title">
        <h2 class="second-title">Free Design Consultation</h2>
        <p class="second-text">
          Not sure how to furnish your space? Our design experts are available
          for free consultations to help you bring your vision to life.
        </p>
      </div>
      <div class="wrap-img">
        <img
          class="img-advantages"
          src="/img/advantages/img04.jpg"
          alt="coffee"
        />
      </div>
    </div>
    <div class="wrap-advantages">
      <div class="wrap-img">
        <img
          class="img-advantages"
          src="/img/advantages/img05.jpg"
          alt="coffee"
        />
      </div>
      <div class="wrap-title">
        <h2 class="second-title">Fast and Free Delivery Across Canada</h2>
        <p class="second-text">
          We offer free delivery on all orders, no matter where you are in
          Canada, ensuring that your furniture arrives quickly and safely.
        </p>
      </div>
    </div>
    <h2 class="second-title">
      We’re confident in the quality of our furniture and offer a satisfaction
      guarantee, ensuring that every purchase meets your expectations.
    </h2>
  </div>
</section>
