<section class="catalog-section" id="catalog">
  <div class="iner">
    <h1 class="catalog-main-title">Catalog</h1>
    <ul class="catalog-list">
      <li class="catalog-list-style">
        <div class="catalog-img-wrap">
          <img class="catalog-img" src="/img/catalog/img1.jpg" alt="coffee" />
        </div>
        <div class="catalog-text-wrap">
          <p class="catalog-text">Wall Shelves</p>
        </div>
      </li>
      <li class="catalog-list-style">
        <div class="catalog-img-wrap">
          <img class="catalog-img" src="/img/catalog/img2.jpg" alt="coffee" />
        </div>
        <div class="catalog-text-wrap">
          <p class="catalog-text">Shelves</p>
        </div>
      </li>
      <li class="catalog-list-style">
        <div class="catalog-img-wrap">
          <img class="catalog-img" src="/img/catalog/img3.jpg" alt="coffee" />
        </div>
        <div class="catalog-text-wrap">
          <p class="catalog-text">Gaming Chairs</p>
        </div>
      </li>
      <li class="catalog-list-style">
        <div class="catalog-img-wrap">
          <img class="catalog-img" src="/img/catalog/img4.jpg" alt="coffee" />
        </div>
        <div class="catalog-text-wrap">
          <p class="catalog-text">Beds</p>
        </div>
      </li>
      <li class="catalog-list-style">
        <div class="catalog-img-wrap">
          <img class="catalog-img" src="/img/catalog/img5.jpg" alt="coffee" />
        </div>
        <div class="catalog-text-wrap">
          <p class="catalog-text">Massage Mhairs</p>
        </div>
      </li>
      <li class="catalog-list-style">
        <div class="catalog-img-wrap">
          <img class="catalog-img" src="/img/catalog/img6.jpg" alt="coffee" />
        </div>
        <div class="catalog-text-wrap">
          <p class="catalog-text">Sofas</p>
        </div>
      </li>
      <li class="catalog-list-style">
        <div class="catalog-img-wrap">
          <img class="catalog-img" src="/img/catalog/img7.jpg" alt="coffee" />
        </div>
        <div class="catalog-text-wrap">
          <p class="catalog-text">Cabinets</p>
        </div>
      </li>
      <li class="catalog-list-style">
        <div class="catalog-img-wrap">
          <img class="catalog-img" src="/img/catalog/img8.jpg" alt="coffee" />
        </div>
        <div class="catalog-text-wrap">
          <p class="catalog-text">Tables</p>
        </div>
      </li>
      <li class="catalog-list-style">
        <div class="catalog-img-wrap">
          <img class="catalog-img" src="/img/catalog/img9.jpg" alt="coffee" />
        </div>
        <div class="catalog-text-wrap">
          <p class="catalog-text">Shelves</p>
        </div>
      </li>
      <li class="catalog-list-style">
        <div class="catalog-img-wrap">
          <img class="catalog-img" src="/img/catalog/img10.jpg" alt="coffee" />
        </div>
        <div class="catalog-text-wrap">
          <p class="catalog-text">Beds</p>
        </div>
      </li>
      <li class="catalog-list-style">
        <div class="catalog-img-wrap">
          <img class="catalog-img" src="/img/catalog/img11.jpg" alt="coffee" />
        </div>
        <div class="catalog-text-wrap">
          <p class="catalog-text">Mirror</p>
        </div>
      </li>
      <li class="catalog-list-style">
        <div class="catalog-img-wrap">
          <img class="catalog-img" src="/img/catalog/img12.jpg" alt="coffee" />
        </div>
        <div class="catalog-text-wrap">
          <p class="catalog-text">Rocking chair</p>
        </div>
      </li>
    </ul>
  </div>
</section>
