<section class="contact-section">
  <div class="iner">
    <div class="title-wrap-contact">
      <h1 class="title-contact">We’d Love to Hear from You!</h1>
      <p class="text-contact">
        Do you have a question about our furniture, subscription plans, or need
        help with an order? At The Coffee Grove, we’re here to assist you with
        anything you need. Feel free to get in touch through any of the options
        below, and one of our team members will get back to you as soon as
        possible.
      </p>
    </div>
    <h2 class="contact-title-list">Customer Support</h2>
    <ul class="contact-style-list">
      <li class="contact-style">
        <div class="wrap-icon-contact">
          <svg class="svg-icon">
            <use href="img/icons.svg#icon-mail"></use>
          </svg>
          <h2 class="contact-title-list">NordicLiving@mail.com</h2>
        </div>
        <p class="contact-text-list">
          For all customer service inquiries, including order issues .
        </p>
      </li>
      <li class="contact-style">
        <div class="wrap-icon-contact">
          <svg class="svg-icon">
            <use href="img/icons.svg#icon-earth"></use>
          </svg>
          <h2 class="contact-title-list">+1 (310) 2744-777</h2>
        </div>
        <p class="contact-text-list">
          Available Monday to Friday, 9 AM to 6 PM (EST).
        </p>
        <p class="contact-text-list">
          9876 Wilshire Blvd, Beverly Hills, CA 90210, United States
        </p>
      </li>
    </ul>
  </div>
</section>
