<footer class="footer">
  <div class="container">
    <nav>
      <a class="footer-logo" href="./index.html" aria-label="Site logo">
        <img
          src="/img/home/logo.jpg"
          alt="coffee"
          width="32"
          height="32"
          class="footer-img"
        />
        <p class="text-footer-logo">Nordic Living</p>
      </a>
      <ul class="list-footer">
        <li>
          <a class="link-footer" href="./index.html">Home</a>
        </li>
        <li>
          <a class="link-footer" href="./contact.html">Contact </a>
        </li>
        <li>
          <a class="link-footer" href="./about.html">About</a>
        </li>
      </ul>
      <p class="text-footer">© Nordic Living.com</p>
    </nav>
    <a class="link-footer" href="./privacy-policy.html">©Privacy Policy</a>
  </div>
</footer>
