<header class="header">
  <div class="container">
    <div class="wrap">
      <div class="wrap-logo">
        <a class="nav-logo" href="./index.html" aria-label="Site logo">
          <img
            src="/img/home/logo.jpg"
            alt="coffee"
            width="40"
            height="40"
            class="logo"
          />
          <p>Nordic Living</p>
        </a>
      </div>
      <nav class="nav">
        <ul class="nav-list">
          <li class="nav-item">
            <a class="nav-link" href="./index.html">Home </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./contact.html">Contact </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./about.html">About</a>
          </li>
        </ul>
        <div class="wrap-burger">
          <button class="btn-burger open-modal">
            <svg class="svg-burger">
              <use href="img/icons.svg#icon-menu"></use>
            </svg>
          </button>
        </div>
      </nav>
    </div>
  </div>
</header>

<div class="container">
  <div class="mobile-modal-menu is-hidden">
    <div class="wrap-modal">
      <nav>
        <ul class="mobile-menu-list">
          <li class="mobile-menu-item">
            <a class="mobile-modal-link {=$highlight-act}" href="./index.html"
              >Home
            </a>
          </li>
          <li class="mobile-menu-item">
            <a class="mobile-modal-link {=$highlight-act}" href="./contact.html"
              >Contact
            </a>
          </li>
          <li class="mobile-menu-item">
            <a class="mobile-modal-link {=$highlight-curr}" href="./about.html"
              >About</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
