<section class="section-hero">
  <div class="iner">
    <div class="wrap-hero">
      <div class="left-hero">
        <img src="/img/home/fon.jpg" alt="" />
      </div>
      <div class="right-hero">
        <h1 class="title">Welcome to the furniture store!</h1>
        <p class="text">
          We offer high-quality furniture that will emphasize the style of your
          home and create comfort in every corner of it. In our collection you
          will find everything from elegant sofas and functional dining tables
          to cozy armchairs and stylish cabinets. Whether you prefer classic,
          modern or minimalist design, we have the perfect solutions for you!
        </p>
        <a class="link" href="#catalog">Catalog</a>
      </div>
    </div>
  </div>
</section>
