:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}

main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
}

section {
  padding: 60px 0;
}

.iner {
  min-width: 280px;
  max-width: 540px;
  padding: 0 16px;
  margin: 0 auto;
}

@media only screen and (min-width: 762px) {
  .iner {
    min-width: 730px;
    max-width: 960px;
  }
}

@media only screen and (min-width: 1200px) {
  .iner {
    min-width: 1200px;
    max-width: 1320px;
  }
}
